/*--------------
 Main font
 ---------------*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;500&family=Work+Sans&display=swap');

/* common styles */
body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
    width: 1920px;
}

.header {
    background: rgba(255, 144, 14, 0.1);
}

.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title {
    color: #131313;
    font-weight: 700;
    font-size: 45px;
    /* margin-top: 50px; */
    margin-left: 230px;
}

.navigation {
    color: #424242;
    font-weight: 500;
    font-size: 18px
}

.navigation a {
    text-decoration: none;
    padding-right: 60px;
}

.main-container {
    text-align: center;
    /* justify-content: center; */
    /* align-items: center; */
}

.main-box {
    width: 862px;
    height: 225px;
    margin-top: 102px;
    margin-bottom: 33px;
    margin-left: 530px;
    margin-right: 530px;
}

.main-title {
    color: #131313;
    font-weight: 700;
    font-size: 64px;
}

.main-info {
    color: #727272;
    font-weight: 400;
    font-size: 16px;
}

.primary-btn {
    background: #FF900E;
    border-radius: 8px;
    width: 180px;
    height: 64px;
    margin-left: 870px;
    margin-right: 870px;
    margin-bottom: 50px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    border: none;
    /* left: 870px;
    top: 463px; */
}

.large-image {
    margin-bottom: 45px;
}

/*-----------------
 article style
 ---------------- */
.team-container {
    display: flex;
}

.teams {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    padding-bottom: 220px;
    margin-left: 300px;
    margin-top: 85px;
}

/* .team-container .teams .team-Photo img {
    margin-top: 85px; */
.team-info {
    width: 537px;
    height: 304px;
    margin: 290px 300px 332px 70px;
}

.team-title {
    font-weight: 700;
    font-size: 45px;
}

.team-title-color-1 {
    color: #727272;
    font-weight: 500;

}

.team-title-color-2 {
    color: #FF900E;
    font-weight: 700;
}

.btn {
    background: #FF900E;
    border-radius: 8px;
    width: 180px;
    height: 64px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    border: none;
    margin-top: 32px;

}

/* ----------------
services styles
 -------------------*/
.services-container {
    display: flex;
    gap: 200px;
    width: 1440px;
    height: 1059px;
    margin-left: 240px;
    margin-right: 240px;
}

.services-title {
    color: #131313;
    font-weight: 700;
    font-size: 45px;
    padding-left: 20px;
    border-left: 5px solid #FF900E;
}

.services-description {
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    width: 586px;
    height: 78px;
}

.service {
    width: 586px;
    height: 744px;
}

.service-advantage {
    width: 586px;
    height: 171px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 30px 30px 30px 42px;
    margin-bottom: 10px;
}

.service-name {
    color: #131313;
    font-weight: 600;
    font-size: 20px;

}

.service-details {
    color: #727272;
    font-weight: 400;
    font-size: 16px;
}

.architects img {
    margin-top: 200px;
}

.big-btn {
    background: #FF900E;
    border-radius: 8px;
    width: 342px;
    height: 200px;
    border: none;
    margin: -100px 0px -100px -100px;

}

.year {
    color: #ffffff;
    font-weight: 700;
    font-size: 65px;
    text-align: center;

}

.experience {
    color: #ffffff;
    font-weight: 500;
    font-size: 25px;
    text-align: center;
    margin-top: -50px;
}

/* ---------------------
facts  styles
-----------------------*/
.facts-info {
    margin-top: 300px;
    margin-left: 240px;
    width: 542px;
}

.achievements {
    display: flex;
    justify-content: center;
    gap: 225px;
    margin-top: 50px;
    margin-left: 300px;
    margin-right: 300px;
}

.box {
    border: 1px solid #FF900E;
    border-radius: 8px;
    width: 241.83px;
    text-align: center;
    padding: 60px 20px 60px 20px;
    height: 241.83px;
}

.box:hover {
    border: 3px solid blue;
}
.achievements-photo:hover{

    border: 3px solid blue;
}

.achievements-number {
    color: #424242;
    text-align: center;
    font-weight: 600;
    font-size: 45px;
}

.achievements-name {
    color: #727272;
    font-weight: 600;
    font-size: 20px;
}


/* ---------------
instructors style
------------------ */
.instructors-title{
    text-align: center;
    margin: 100px 0 50px 0;
    font-weight: 800;
    font-size: 40px;
    /* border-left: 4px solid #FF900E; */
    /* width: 300px; */
}

.instructors{
    display: flex;
    justify-content: center;
    gap: 30px;
    
}